.App {
    font-family: sans-serif;
    max-width: 650px;
    margin: auto;
    padding: 2rem;
  }
  
  button {
    cursor: pointer;
    background: #e5e7eb;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    margin: 1rem 0.3rem;
  }
  button:hover {
    background-color: #0d9488;
  }
  
  li {
    border: 0.2rem solid #e5e7eb;
    width: 70%;
    margin: 1rem 0rem;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    background-color: #99f6e4;
  }
  
  .seriesBox ul {
    list-style: none;
    padding-inline-start: 0px;
  }
  